<body>
<h1> {{ title }}</h1>
<h4>{{error}}</h4>

<table class="table">
    <thead>
    <th>Name</th>
    <th>View all scores for this period</th>
    <th>Description</th>
    <th>Maximum score</th>
    <th>Start time</th>
    <th>End time</th>
    </thead>
    <tbody>
    <tr ng-repeat="period in periods">
        <th><a href="#/teacher/viewTasks/{{period._id}}">{{period.name}}</a></th>
        <th><a href="#/teacher/viewScores/{{period._id}}">All scores in {{period.name}}</a></th>
        <th>{{period.description}}</th>
        <th>{{period.maximumPoints}}</th>
        <th>{{period.startTime}}</th>
        <th>{{period.endTime}}</th>
    </tr>
    </tbody>
</table>

<form class="form-horizontal"  style="margin-top: 1em;border: 1px solid #cccccc; padding: 0.5em;">
    <fieldset>
        <legend>Add period</legend>
        <div class="form-group">
            <label for="name" class="control-label col-xs-2"><span class="label label-info">Name</span></label>
            <div class="col-xs-10">
                <input ng-model="newPeriod.name" class="form-control" id="name" placeholder="Name">
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="control-label col-xs-2"><span class="label label-info">Description</span></label>
            <div class="col-xs-10">
                <input ng-model="newPeriod.description" class="form-control" id="description" placeholder="Description">
            </div>
        </div>

        <div class="form-group">
            <label for="maximumPoints" class="control-label col-xs-2"><span class="label label-info">Maximum points</span></label>
            <div class="col-xs-10">
                <input ng-model="newPeriod.maximumPoints" class="form-control" id="maximumPoints" placeholder="Maximum points">
            </div>
        </div>

        <div class="form-group">
            <label for="startTime" class="control-label col-xs-2"><span class="label label-info">Start time</span></label>
            <div class="col-xs-10">
                <input ng-model="newPeriod.startTime" class="form-control" id="startTime" placeholder="Start time">
            </div>
        </div>

        <div class="form-group">
            <label for="endTime" class="control-label col-xs-2"><span class="label label-info">End time</span></label>
            <div class="col-xs-10">
                <input ng-model="newPeriod.endTime" class="form-control" id="endTime" placeholder="End time">
            </div>
        </div>

        <div class="form-group">
            <label for="semesterId" class="control-label col-xs-2"><span class="label label-info">Semester id</span></label>
            <div class="col-xs-10">
                <input ng-model="newPeriod.semesterId" class="form-control" id="semesterId" placeholder="Semester id (the actual semesterId is in the URI)">
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-10">
                <button class="btn btn-default" ng-click="savePeriod()">Save</button>
                <!--<button class="btn btn-default" ng-click="cancel()">Cancel</button>-->
            </div>
        </div>
    </fieldset>
</form>


<div><a href="#/teacher"> back </a></div>
</body>