<body>
<h1> {{ title }}</h1>

<h4>{{error}}</h4>
<table class="table">
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Start time</th>
    <th>End time</th>
    </thead>
    <tbody>
    <tr ng-repeat="class in classes">
        <th><a href="#/teacher/viewSemesters/{{class._id}}">{{class.name}}</a></th>
        <th>{{class.description}}</th>
        <th>{{class.startTime}}</th>
        <th>{{class.endTime}}</th>
    </tr>
    </tbody>
</table>

<form class="form-horizontal"  style="margin-top: 1em;border: 1px solid #cccccc; padding: 0.5em;">
    <fieldset>
        <legend>Add class</legend>
        <div class="form-group">
            <label for="name" class="control-label col-xs-2"><span class="label label-info">Name</span></label>
            <div class="col-xs-10">
                <input ng-model="newClass.name" class="form-control" id="name" placeholder="Name">
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="control-label col-xs-2"><span class="label label-info">Description</span></label>
            <div class="col-xs-10">
                <input ng-model="newClass.description" class="form-control" id="description" placeholder="Description">
            </div>
        </div>

        <div class="form-group">
            <label for="startTime" class="control-label col-xs-2"><span class="label label-info">Start time</span></label>
            <div class="col-xs-10">
                <input ng-model="newClass.startTime" class="form-control" id="startTime" placeholder="Start time">
            </div>
        </div>

        <div class="form-group">
            <label for="endTime" class="control-label col-xs-2"><span class="label label-info">End time</span></label>
            <div class="col-xs-10">
                <input ng-model="newClass.endTime" class="form-control" id="endTime" placeholder="End time">
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-10">
                <button class="btn btn-default" ng-click="saveClass()">Save</button>
                <!--<button class="btn btn-default" ng-click="cancel()">Cancel</button>-->
            </div>
        </div>
    </fieldset>
</form>

<a href="#/teacher"> back </a>
</body>
