<body>
<h1> {{ title }}</h1>

<label>Class id</label>
<input type="text" ng-model="classId">
<button class="btn btn-default" ng-click="getStudentsByClassId()">See your classmates</button>
<!--<p>{{wholeStudent}}</p>-->

<p>{{class}}</p>
<table class="table">
    <thead>
    <th>User name</th>
    <th>Full name</th>
    </thead>
    <tbody>
    <tr ng-repeat="student in students">
        <th>{{student.username}}</th>
        <th>{{student.fullName}}</th>
    </tr>
    </tbody>
</table>

<a href="#/student"> back </a>
</body>


