<body>
<h1> {{ title }}</h1>

<label>Username</label>
<input type="text" ng-model="studentName">
<button class="btn btn-default" ng-click="getStudentByUserName()">See your object</button>
<p>{{wholeStudent}}</p>

<p>{{class}}</p>
<table class="table">
    <thead>
    <th>User name</th>
    <th>Full name</th>
    <th>Number of points</th>
    </thead>
    <tbody>
    <tr ng-repeat="student in students">
        <th><a href="#student">{{student.username}}</a></th>
        <th>{{student.fullName}}</th>
    </tr>
    </tbody>
</table>

<a href="#/student"> back </a>
</body>